
	<footer>
		<div class="container">
			<div class="content-footer row">
				<div class="column-footer col-lg-5 col-md-8 col-sm-7">
					<h3>Dane Kontaktowe</h3>
					<ul>
						<li>ADRES: Gola 8, 59-300 Lubin</li>
						<li>BIURO: (076) 123 12 12</li>
						<li id="follow-us">ŚLEDŹ NAS NA: 
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>

				<div class="column-footer col-lg-4 col-md-5 col-sm-7">
					<h3>Godziny otwarcia</h3>
					<ul id="restaurant-hours">
						<li>
							<span class="span-left">Serwis:</span>
						</li>
						<li>
							<span class="span-left">Poniedziałek - Piątek</span>
							<span class="span-right">8:00 - 16:00</span>
						</li>
						<li>
							<span class="span-left">Sobota - Niedziela</span>
							<span class="span-right">8:00 - 12:00</span>
						</li>
						<li>
							<span class="span-left">Biuro:</span>
						</li>
						<li>
							<span class="span-left">Poniedziałek - Piątek</span>
							<span class="span-right">8:00 - 16:00</span>
						</li>
						<li>
							<span class="span-left">Sobota - Niedziela</span>
							<span class="span-right">8:00 - 12:00</span>
						</li>
					</ul>
					<div class="line-divide first-line"></div>
				</div>

				<div class="column-footer col-lg-3 col-md-3 col-sm-7">
					<h3>Użyteczne linki</h3>
					<ul id="useful-links">
						<li>
							<span class="span-left">
								<a href="/">Strona Główna</a>
							</span> 
							<span class="span-right">
								<a href="/shop">Sklep</a>
							</span>
						</li>
						<li>
							<span class="span-left">
								<a href="menu-01.html">Asortyment</a>
							</span> 
							<span class="span-right">
								<a href="blog-list-with-sidebar-01.html">Blog</a>
							</span>
						</li>
						<li>
							<span class="span-left">
								<a href="reservation-01.html">Awaria</a>
							</span> 
							<span class="span-right">
								<a href="contact-us.html">Kontakt</a>
							</span>
						</li>
						<li><a href="/o-nas">O nas</a></li>
					</ul>
					<div class="line-divide second-line"></div>
				</div>
			</div>
		</div>
		<div class="wrap-bottom-footer">
		<a id="example"></a>
			
		</div>
	</footer>
	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>