{{>header}}

<body  class="animsition">

	<header>
		<!-- Header desktop -->
		<div id="wrap_header" >
			<!-- Logo -->		
			<div class="logo col_header">
				<a href="/"><img alt="logo-deli" src="images/icons/logo.png"></a>
			</div>
			<!-- Menu -->
			<div class="main_nav">
				<nav class="menu col_header">
					<ul class="main_menu">
						<li><a href="/">Strona Główna</a>
							<ul class="sub_menu">
								<li><a href="/">Homepage</a></li>
								<li><a href="home-boxed.html">Homepage Boxed</a></li>
								<li><a href="home-outgrid.html">Homepage Outgrid</a></li>
								<li><a href="home-showcase.html">Homepage Showcase</a></li>
								<li><a href="home-vertical-menu.html">Home Vertical Menu</a></li>
								<li><a href="home-onepage.html">Homepage Onepage</a></li>
							</ul>
						</li>
						<li><a href="menu-01.html">Asortyment</a>
							<ul class="sub_menu">
								<li><a href="menu-01.html">Menu 01</a></li>
								<li><a href="menu-02.html">Menu 02</a></li>
								<li><a href="menu-03.html">Menu 03</a></li>
								<li><a href="product-detail.html">Product Detail</a></li>
							</ul>
						</li>
							<li><a href="reservation-01.html" class="have_sub_menu">Awaria</a>
							<ul class="sub_menu">
								<li><a href="reservation-01.html">Menu 01</a></li>
								<li><a href="reservation-02.html">Menu 02</a></li>
								<li><a href="reservation-03.html">Menu 03</a></li>
							</ul>
						</li>
					
						<li><a href="about-us.html">O NAS</a></li>
						<li><a href="/shop">Sklep</a>
							<ul class="sub_menu">
								<li><a href="/shop">Sklep</a></li>
								<li><a href="shopping-cart.html">Koszyk</a></li>
								<li><a href="check-out.html">Check Out</a></li>
							</ul>
						</li>
						<li><a href="blog-list-with-sidebar-01.html">Blog</a>
							<ul class="sub_menu">
								<li><a href="blog-list-with-sidebar-01.html">Blog With Sidebar V1</a></li>
								<li><a href="blog-list-with-sidebar-02.html">Blog With Sidebar V2</a></li>
								<li><a href="blog-mansory.html">Blog Mansory</a></li>
								<li><a href="blog-detail.html">Blog Detail</a></li>
							</ul>
						</li>
						<li><a href="#example">Kontakt</a></li>
					</ul>
				</nav>
			</div>

			<!-- Socials -->
			<div class="icon-header col_header">
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>

		<!-- Header Mobile -->
		<div id="wrap_header_mobile">
		
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img alt="logo-deli" src="images/icons/logo-mobile.png"></a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu">
				<button class="btn-show-menu-mobile hamburger hamburger--squeeze" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>	
		</div>

		<!-- Menu Mobile -->
		<div class="wrap-side-menu" >
			<nav class="side-menu">
				<ul class="main-menu">
					<li>
						<a href="/">Strona Główna</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="/">Homepage</a></li>
							<li><a href="home-boxed.html">Homepage Boxed</a></li>
							<li><a href="home-outgrid.html">Homepage Outgrid</a></li>
							<li><a href="home-showcase.html">Homepage Showcase</a></li>
							<li><a href="home-vertical-menu.html">Home Vertical Menu</a></li>
							<li><a href="home-onepage.html">Homepage Onepage</a></li>
						</ul>
					</li>
					<li>
						<a href="menu-01.html">Asortyment</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="menu-01.html">Menu 01</a></li>
							<li><a href="menu-02.html">Menu 02</a></li>
							<li><a href="menu-03.html">Menu 03</a></li>
							<li><a href="product-detail.html">Product Detail</a></li>
						</ul>
					</li>
					<li>
						<a href="reservation-01.html">Zgłoś Awarię</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="reservation-01.html">Reservation V1</a></li>
							<li><a href="reservation-02.html">Reservation V2</a></li>
							<li><a href="reservation-03.html">Reservation V3</a></li>
						</ul>
					</li>
					<li>
						<a href="about-us.html">O nas</a>
					</li>
					<li>
						<a href="/shop">Sklep</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="/shop">Sklep</a></li>
							<li><a href="shopping-cart.html">Koszyk</a></li>
							<li><a href="check-out.html">Check Out</a></li>
						</ul>
					</li>
					<li>
						<a href="blog-list-with-sidebar-01.html">Blog</a>
						<i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
						<ul class="sub-menu">
							<li><a href="blog-list-with-sidebar-01.html">Blog With Sidebar V1</a></li>
							<li><a href="blog-list-with-sidebar-02.html">Blog With Sidebar V2</a></li>
							<li><a href="blog-mansory.html">Blog Mansory</a></li>
							<li><a href="blog-detail.html">Blog Detail</a></li>
						</ul>
					</li>
					<li>
						<a href="contact-us.html">Kontakt</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="slider-deli">
		<!-- Slider -->
		<div class="rev_slider_wrapper fullscreen-container" >
			<div id="rev_slider_1" class="rev_slide fullscreenbanner" style="display: none;">
				<ul>
					<!-- Slide 1 -->
					<li data-transition="fade" data-delay="51000">
						<img src="images/slide-01.jpg" alt="Seasonal Flavours" class="rev-slidebg"
						data-bgposition="center center"
						data-bgfit="cover" 
         				data-bgrepeat="no-repeat">

						
					
						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":500,"speed":1800,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="middle" 
					    data-hoffset="0" 
					    data-voffset="['-50','-50','-100','-120']" 
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Najlepsza Kawa</h3>
						
						<div id="btn-slide-1" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','110','110']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="menu-01.html" class="btn1">GUZIK 1</a>
								<a href="reservation-02.html" class="btn2">GUZIK 1</a>
						</div>
					</li>

					<!-- Slide 2 -->
					<li data-transition="fade">
						<img src="images/slide-02.jpg" alt="Fresh Ingredients" class="rev-slidebg">

						<h3 class="tp-caption tp-resizeme  caption-1" 
						data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1500,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['-80','-80','-140','-140']" 
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Pyszne Przekąski</h3>

					    <div  class="tp-caption tp-resizeme btn-slide caption-2"
						data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0"
					    data-voffset="['15','15','15','5']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">Świeże, Smaczne, Zdrowe</div>
						
						<div id="btn-slide-2" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":3100,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['110','110','140','140']" 
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="menu-01.html" class="btn1">GUZIK 2	</a>
								<a href="reservation-02.html" class="btn2">GUZIK 2</a>
						</div>
					</li>

					<!-- Slide 3 -->
					<li data-transition="fade">
						<img src="images/slide-03.jpg" alt="Deli Restaurant" class="rev-slidebg">

						<h3 class="tp-caption tp-resizeme caption-1" 
						data-frames='[{"delay":500,"split":"chars","splitdelay":0.05,"speed":1300,"frame":"0","from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['-50','-50','-100','-120']"
					    data-width="['1140','960','720','540']"
					    data-lineheight="['150', '150', '120', '100']"
					    data-fontsize="['110', '110', '100', '90']"
					    data-height="['auto']">Profesjonalizm</h3>
						
						<div id="btn-slide-3" class="tp-caption tp-resizeme btn-slide"
						data-frames='[{"delay":2300,"speed":1500,"frame":"0","from":"y:bottom;rZ:90deg;sX:2;sY:2;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
					    data-x="center" 
					    data-y="center" 
					    data-hoffset="0" 
					    data-voffset="['80','80','110','110']"
					    data-width="['910','910','380','380']"
					    data-height="['auto']">
								<a href="menu-01.html" class="btn1">GUZIK 3</a>
								<a href="reservation-02.html" class="btn2">GUZIK 3</a>
						</div>
					</li>
				</ul>				
			</div>
		</div>
		<!-- End Slider -->
	</section>

	<!-- Our Menu -->
	<section class="our-menu" >
		<div class="container">
			<!-- title our menu -->
			<div class="wrap-title-our-menu row">
				<div class="col-12 title-our-menu">
					<h6>spróbuj i odkryj</h6>
					<h2>Nasz Asortyment</h2>
				</div>

				{{>placek}}
			</div>

			<!-- food menu -->
			<div class="row wrap-food-menu">
				<div id="food-menu">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#lunch" role="tab" aria-controls="lunch" aria-expanded="true">Ekspresy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-dinner" data-toggle="tab" href="#dinner" role="tab" aria-controls="dinner">Kawa</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-dessert" data-toggle="tab" href="#dessert" role="tab" aria-controls="dessert">Snack</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="tab-private-dinner" data-toggle="tab" href="#private-dinner" role="tab" aria-controls="private-dinner">Produkty</a>
						</li>
					</ul>
				</div>
			</div>

			<!-- list food -->
			<div class="tab-content" id="myTabContent">
				<!-- Lunch -->			
				<div class="tab-pane fade show active" id="lunch" role="tabpanel" aria-labelledby="home-tab">
					<div class="wrap-list-food">
						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.2s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.2s">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-01.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Cino XX OC</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Ekspres do kawy
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">150 zł/mc</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.2s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.2s">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-05.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Potato gnocchi</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.4s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.4s">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-02.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Lobster caponata</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>	
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.4s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.4s">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-06.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Pork ribollita</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.6s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.6s">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-03.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Chocolate budino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>	
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.6s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.6s">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-07.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Livorno style caccuchino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;30.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.8s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.8s">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-04.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Charred octopus</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row wow fadeInDown" data-wow-delay="0.8s">
									<div class="col-12 col-sm-2 img-list-food wow zoomIn " data-wow-delay="0.8s">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-08.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Baulletti</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Dinner -->
				<div class="tab-pane fade" id="dinner" role="tabpanel" aria-labelledby="tab-dinner">
					<div class="wrap-list-food">
						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-03.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Chocolate budino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-07.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Livorno style caccuchino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;30.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-04.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Charred octopus</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-08.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Baulletti</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-01.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Pine nut sbrisalona</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut  
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;20.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-05.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Potato gnocchi</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-02.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Lobster caponata</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-06.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Pork ribollita</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Dessert -->
				<div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="tab-dessert">
					<div class="wrap-list-food">
						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-02.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Lobster caponata</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-06.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Pork ribollita</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-03.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Chocolate budino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-07.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Livorno style caccuchino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;30.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-01.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Pine nut sbrisalona</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut  
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;20.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-05.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Potato gnocchi</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-04.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Charred octopus</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-08.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Baulletti</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Private Dinner -->
				<div class="tab-pane fade" id="private-dinner" role="tabpanel" aria-labelledby="tab-private-dinner">
					<div class="wrap-list-food">
						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-04.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Charred octopus</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-08.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Baulletti</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proinin velit odio mollis ac tortor eget ullamcorper
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;5.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-01.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Pine nut sbrisalona</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut  
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;20.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-05.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Potato gnocchi</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Proin lacinia nisl ut ultricies posuere nulla ut 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-02.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Lobster caponata</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;10.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-06.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Pork ribollita</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Suspendisse sodales congue maximus 
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
						</div>

						<div class="row list-food">
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-03.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Chocolate budino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;15.00</div>
								</div>
							</div>
							<div class="col-md-10 col-lg-6">
								<!-- item food -->
								<div class="item-food row">
									<div class="col-12 col-sm-2 img-list-food">
										<a href="product-detail.html"><img alt="food" src="images/img-our-menu-07.png"></a>
									</div>
									<div class="col-12 col-sm-8 text-list-food ">
											<div class="name-price row">
												<div class="name-food col-12 col-sm-auto"><a class="hover-link-color" href="product-detail.html">Livorno style caccuchino</a></div>
												<div class="line-food col">
													<div class="add-line-run"></div>
												</div>
											</div>
											<div class="row"> 
												<div class="col-12 col-sm-12 info-food">
													Interdum et malesuada fames primis in faucibus
												</div>
											</div>
									</div>
									<div class="price-food col-12 col-sm-2">&#36;30.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Banner -->
	<div class="parallax-banner" >
		<div class="content-banner">
			<div class="text-banner wow zoomIn">
				
			<h3><a href="/"><img alt="logo-deli" src="images/icons/logo1.png"></a></h3>
			</div>
			<div class="symbol-banner wow zoomIn" data-wow-delay="0.5s">
				<img alt="symbol" src="images/icons/symbol-banner.png">
				<div class="line-symbol-banner wow fadeInLeftBig" id="short-line-left" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInLeftBig" id="long-line-left" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInRightBig" id="short-line-right" data-wow-delay="0.5s"></div>
				<div class="line-symbol-banner wow fadeInRightBig" id="long-line-right" data-wow-delay="0.5s"></div>
			</div>
		</div>
	</div>
	
	<!-- Event -->
	<section id="event">
		<div class="container">
			<!-- title event -->
			<div class="wrap-title-event row">
				<div id="title-event" class="col-12">
					<h6>Odkryj Nasze</h6>
					<h2>Promocje</h2>
				</div>
					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
						<div class="img-event">
							<a href="blog-detail.html"><img alt="picture-event" src="images/img-event-01.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="blog-detail.html">Poleć nas</a></h3>
						<p>
							Proin lacinia nisl ut ultricies posuere nulla ut imperdiet nunc. Quisque id tellus vitae mauris feugiat comodone, donec pretium odio nec sagittis euismod.
						</p>
						<span class="date-event"><i class="fa fa-calendar" aria-hidden="true"></i> 21 Grudnia, 2019</span>
						<span class="time-event"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 22:00</span>
					</div>

					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
						<div class="img-event">
							<a href="blog-detail.html"><img alt="picture-event" src="images/img-event-02.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="blog-detail.html">Poleć nas</a></h3>
						<p>
							Proin lacinia nisl ut ultricies posuere nulla ut imperdiet nunc. Quisque id tellus vitae mauris feugiat comodone, donec pretium odio nec sagittis euismod.
						</p>
						<span class="date-event"><i class="fa fa-calendar" aria-hidden="true"></i> 22 Grudnia, 2019</span>
						<span class="time-event"><i class="fa fa-clock-o" aria-hidden="true"></i> 19:00 - 23:00</span>
					</div>

					<div class="content-event col-sm-10 col-md-8 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
						<div class="img-event">
							<a href="blog-detail.html"><img alt="picture-event" src="images/img-event-03.jpg"></a>
						</div>
						<h3><a class="hover-link-color" href="blog-detail.html">Poleć nas</a></h3>
						<p>
							Proin lacinia nisl ut ultricies posuere nulla ut imperdiet nunc. Quisque id tellus vitae mauris feugiat comodone, donec pretium odio nec sagittis euismod.
						</p>
						<span class="date-event"><i class="fa fa-calendar" aria-hidden="true"></i> 23 Grudnia, 2019</span>
						<span class="time-event"><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 22:00</span>
					</div>
			</div>			
		</div>
	</section>
	
	<!-- Reservation -->
	<div class="parallax-banner-2">
		<div class="content-reservation">
			<div class="text-reservation wow fadeInUp" data-wow-delay="0.2">
				<h6>Serwis</h6>
				<h3>Zgłoś awarię</h3>
			</div>
			<div class="container">
				<form>
					<div class="input-reservation row wow flipInX" data-wow-delay="0.7s">
						<div class="wrap-input-find col-12 col-sm-12 col-md-10">
							<div class="input-find row">
								<div class="col-10 col-sm-8 col-md-4">
									<select class="chose-people" name="chose-people">
										<option>1 Automat</option>
										<option>2 Automat</option>
										<option>3 Automat</option>
										<option>4 Automat</option>
										<option>5 Automat</option>
										<option>6 Automat</option>
									</select>
								</div>

								<div class="col-10 col-sm-8 col-md-4 chose-calendar">
									<input class="my-calendar" type="text" name="calender">
								</div>

								<div class="col-10 col-sm-8 col-md-4">
									<select class="chose-time" name="chose-time">
										<option>Nie wydaje reszty</option>
										<option>Nie wydaje produktu</option>
										<option>Zacięty produkt</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-5 col-sm-3 col-md-2">
							<button class="btn-find-table">ZGŁOŚ AWARIĘ</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{{>footer}}