<!DOCTYPE html>
<html lang="en">
<head>
	<!--Basic Page Needs-->
	<title>Sklep</title>
	<meta charset="UTF-8">
	<meta name="description" content="AuCreative theme tempalte">
	<meta name="author" content="AuCreative">
	<meta name="keywords" content="AuCreative theme template">
	<!--Mobile Specific Metas-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="images/icons/home-boxed-logo.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker-bootstrap/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/jqueryui/jquery-ui.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/dist/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
<div class="animsition">	
	{{>header}}

	<!-- Title Shop page -->
	<section>
		<div class="bg-title-sub-page bg-menu-page-02 ">
			<div class="wrap-title-sub-page">
				<h2 class="title-l">Sklep</h2>
				<h6 class="title-s">Colucci</h6>
			</div>
		</div>
	</section>

	<section class="content-shop-page">
		<div class="container">
			<div class="row">
				<!-- Shop list -->
				<div class="col-md-12 col-lg-9">
					<div class="top-shop-list row">
						<div class="result col-12 col-sm-6">
							<span class="small-text">Pokazuje 1–12 z 28 wyników</span>
						</div>
						<div class="col-12 col-sm-6">
							<select class="chose-sort" name="chose-people">
								<option>Sortuj po rodzaju</option>
								<option>Sortuj po cenie</option>
								<option>Sortuj po nazwie</option>
							</select>
						</div>
					</div>

					<div class="middle-shop-list row">
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-01.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Charred octopus</h4></a>
								<p class="price-item">$ 20.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-02.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Potato gnocchi</h4></a>
								<p class="price-item">$ 10.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-03.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Pork ribollita</h4></a>
								<p class="price-item">$ 15.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
					</div>

					<div class="middle-shop-list row">
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-04.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Pine nut sbrisalona</h4></a>
								<p class="price-item">$ 20.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-05.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Lobster caponata</h4></a>
								<p class="price-item">$ 10.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-02.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Chocolate budino</h4></a>
								<p class="price-item">$ 15.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
					</div>

					<div class="middle-shop-list row">
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-07.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Livorno style caccuchino</h4></a>
								<p class="price-item">$ 20.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-08.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Baulletti</h4></a>
								<p class="price-item">$ 10.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
						<div class="col-item col-sm-7 col-md-4">
							<div class="item-shop-page">
								<div class="img-item">
									<a href="product-detail.html"><img src="images/shop-page-img-item-01.jpg" alt="img-food"></a>
								</div>
								<a href="product-detail.html"><h4 class="name-item">Livorno style caccuchino</h4></a>
								<p class="price-item">$ 10.00</p>
								<button class="btn-with-bg add-to-cart">DODAJ DO KOSZYKA</button>
							</div>
						</div>
					</div>

					<div class="bottom-shop-list row">
						<div class="col-item col-sm-7 col-md-12">
							<span class="small-text"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
							<span class="small-text">1</span>
							<span class="small-text">2</span>
							<span class="small-text"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
						</div>
					</div>
				</div>

				<!-- Side bar -->
				<div class="col-md-12 col-lg-3">
					<div class="wrap-side-bar row">
						<div class="wrap-search-box col-12">
							<div class="search-box">
                        		<input class="search small-text" type="search" placeholder="Szukaj...">
                        		<i class="btn-search fa fa-search" aria-hidden="true"></i>
                        	</div>
						</div>

						<div class="categories col-12">
							<h4 class="medium-text-2 ">Kategorie</h4>
						</div>
						<div class="categories-content col-12">
							<ul>
								<li class="small-text clearfix">
									<a href="#" class="small-text">Kawa</a> 
									<span>(10)</span>
								</li>
								<li class="small-text clearfix">
									<a href="#" class="small-text">Ekspres</a> 
									<span>(25)</span>
								</li>
								<li class="small-text clearfix">
									<a href="#" class="small-text">Snack</a> 
									<span>(15)</span>
								</li>
								<li class="small-text clearfix">
									<a href="#" class="small-text">Automat do kawy</a> 
									<span>(10)</span>
								</li>
								<li class="small-text clearfix">
									<a href="#" class="small-text">Kawa</a> 
									<span>(25)</span>
								</li>
								<li class="small-text clearfix">
									<a href="#" class="small-text">Kawa</a> 
									<span>(15)</span>
								</li>
								<li class="small-text clearfix">
									<a href="#" class="small-text">Kawa</a> 
									<span>(10)</span>
								</li>
							</ul>
						</div>

						<div class="filter-price col-12">
							<h4 class="medium-text-2 ">Filtruj Po Cenie</h4>
						</div>
						<div class="wrap-filter-price-bar col-12">
							<div class="filter-price-bar">
								<div class="line-bar"></div>

								<div id="containment-wrapper-2" class="wrap-point">
									<div id="draggable2" class="draggable ui-widget-content" ></div>
								</div>

								<div id="containment-wrapper-3" class="wrap-point">
									<div id="draggable3" class="draggable ui-widget-content" ></div>
								</div>
								<span>Cena: $<span class="show-pos-begin">2</span> — $<span class="show-pos">50</span></span>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>

{{>footer}}
	
	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/animsition/dist/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/jqueryui/jquery-ui.min.js"></script>
	<script src="js/draggable-jquery-ui.custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap/js/popper.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->	
	<script type="text/javascript" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/moment.min.js"></script>
	<script type="text/javascript" src="vendor/daterangepicker-bootstrap/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="vendor/bootstrap-notify/bootstrap-notify.js"></script>
	<script type="text/javascript" src="js/bootstrap-notify-custom.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
</div>
</body>
</html>