{{>linki}}
<body>
<div class="animsition">	
	{{>header}}

	<!-- Title page -->
	<section>
		<div class="bg-title-sub-page bg-menu-page-02 ">
			<div class="wrap-title-sub-page">
				<h2 class="title-l">Koszyk</h2>
				<h6 class="title-s">Twoje zakupy</h6>
			</div>
		</div>
	</section>

	<section class="content-shopping-cart-page">
		<div class="container">
			<form>
				<div class="wrap-table-shopping-cart">
					<table class="table-shopping-cart">
						<tr class="table_head">
							<th class="column-1">Product</th>
							<th class="column-2">Name & Description</th>
							<th class="column-3">Price</th>
							<th class="column-4">Quantity</th>
							<th class="column-5">Total</th>
							<th class="column-6"></th>
						</tr>

						<tr>
							<td class="column-1">
								<div class="img-product">
									<img src="images/shopping-cart-img-product-in-table-01.jpg" alt="img-product">
								</div>
							</td>
							<td class="column-2">Pork ribollita</td>
							<td class="column-3">$ 10.50</td>
							<td class="column-4">
								<input class="input-num-product small-text" type="text" name="num-product" value="1" placeholder="1">
							</td>
							<td class="column-5">$ 20.00</td>
							<td class="column-6">
								<i class="btn-remove-product fa fa-times" aria-hidden="true"></i>
							</td>
						</tr>

						<tr>
							<td class="column-1">
								<div class="img-product">
									<img src="images/shopping-cart-img-product-in-table-02.jpg" alt="img-product">
								</div>
							</td>
							<td class="column-2">Potato gnocchi</td>
							<td class="column-3">$ 20.00</td>
							<td class="column-4">
								<input class="input-num-product small-text" type="text" name="num-product" value="2" placeholder="1">
							</td>
							<td class="column-5">$ 40.00</td>
							<td class="column-6">
								<i class="btn-remove-product fa fa-times" aria-hidden="true"></i>
							</td>
						</tr>
					</table>
				</div>

				<div class="wrap-coupon">
					<div class="row">
						<div class="wrap-title-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<h4 class="title-coupon">Kod Rabatowy</h4>
						</div>

						<div class="wrap-input-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<input  type="text" class="input-coupon small-text" name="your-coupon" placeholder="Wprowadź kod rabatowy">
						</div>
						<div class="wrap-btn-coupon col-responsive-shopping-cart col-md-10 col-lg-2">
							<button type="button" class="btn-coupon btn-with-bg">Zastosuj kod</button>
						</div>
					</div>
				</div>

				<div class="wrap-estimate-shipping-extend wrap-coupon">
					<div class="row">
						<div class="wrap-title-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<h4 class="title-coupon">Koszty Dostawy</h4>
						</div>

						<div class="wrap-chose-address-extend wrap-input-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<div class="row">
								<div class="col-responsive-chose-address left col-md-12 col-lg-6">
									<select class="chose-people" name="chose-people">
										<option>Miasto</option>
										<option>Miasto 2</option>
										<option>Miasto 3</option>
										<option>Miasto 4</option>
										<option>Miasto 5</option>
										<option>Miasto 6</option>
									</select>
								</div>

								<div class="col-responsive-chose-address right  col-md-12 col-lg-6">
									<select class="chose-time" name="chose-time">
										<option>Województwo</option>
										<option>Województwo 2</option>
										<option>Województwo 3</option>
										<option>Województwo 4</option>
										<option>Województwo 5</option>
										<option>Województwo 6</option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="wrap-input-coupon col-responsive-shopping-cart col-md-10 col-lg-10">
							<input  type="text" class="input-coupon small-text" name="your-coupon" placeholder="Kod pocztowy">
						</div>

						<div class="wrap-btn-coupon col-responsive-shopping-cart col-md-10 col-lg-2 ">
							<button type="button" class="btn-coupon btn-with-bg">Podsumuj</button>
						</div>
					</div>
				</div>

				<div class="wrap-total clearfix">
						<div class="style-pos col-right">
							<h6 class="larg-text">Łącznie: $100.00</h6>
							<button class="btn-with-bg">Przejdź Do Płatności</button>
						</div>
						<div class="style-pos col-left">
							<a href="/shop" class="small-text"><i class="fa fa-angle-left" aria-hidden="true"></i> Powrót do sklepu</a>
						</div>
				</div>
			</form>
		</div>
	</section>

{{>footer}}